<body>
	<div class="btn-group btn-group-justified; d-flex justify-content-center" style="margin-top: 6em;margin-right:1em">
		<h1 class="gradient-border" style="padding-top:.5em;padding-bottom:.5em;padding-left:10rem;padding-right:10rem;margin-top:1em;margin-bottom:.35em;background-color:floralwhite;text-align:center;border-radius: 25px;">Projects</h1>
	</div>

	<div class="card-deck">
		<div class="card gradient-border" style="margin-top:5em;">
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="~/images/MainMenu.png" class="d-block w-100" alt="FoodTruck Landing Page" style="height: 190px;border-left-width: 10px;width: 200px;">
					</div>
					<div class="carousel-item">
						<img src="~/images/Menu.png" class="d-block w-100" alt="Food Truck Menu with Read/Write Actions" style="height: 190px;border-left-width: 10px;width: 200px;">
					</div>
				</div>
			</div>
			<div class="card-body" style="background-color: floralwhite">
				<h5 class="card-title">FoodTruck</h5>
				<p class="card-text">
					A catering food truck, that can either have orders placed for delivery, or ordered to a specific location for a higher price.
					FoodTruck also acts as a ordering system to deliver onsite immediate catering services to a group outdoors.
					Intent is for clean healthy eating, and rather than leaving the home to get food, food will come to you and your neighborhood.
					Website will display, relative location of current delivery as an alert letting current and previous clients know when they are in business nearby. The FoodTruck Site
					is a responsive and custom catered to be applicable for mobile use.
				</p>
			</div>
			<div class="card-footer" style="background-color: floralwhite;text-align:center">
				<a href="https://github.com/davidrodjen/FoodTruck">Github Link</a>
			</div>
		</div>
		<div class="card gradient-border" style="margin-top:5em;">
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="~/images/BlogITLanding.PNG" class="d-block w-100" alt="BlogIT Landing Page" style="height: 190px;border-left-width: 10px;width: 200px;">
					</div>
					<div class="carousel-item">
						<img src="~/images/BlogITAccount.PNG" class="d-block w-100" alt="BlogIT Account Actions" style="height: 190px;border-left-width: 10px;width: 200px;">
					</div>
				</div>
			</div>
			<div class="card-body" style="background-color: floralwhite">
				<h5 class="card-title">BlogIT</h5>
				<p class="card-text">
					This project is a business template for a client to utilize their own URL and blogsite for publicity and job seeking.
					Clients will have access through Identity Management, passwords, and Two-Factor Authentication.
					They will be able to create multiple different styles of media and present them to their target audience. The Owner of the site
					will have full creative control with CRUD functionality to add or subtract blog posts and users from the server database.
				</p>
			</div>
			<div class="card-footer" style="background-color: floralwhite;text-align:center">
				<a href="https://github.com/CourtneyHutchin/BlogIT">Github Link</a>
			</div>
		</div>
	</div>

	<div class="card-deck">
		<div class="card gradient-border" style="margin-top:5em;">
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="~/images/CompletedBrackets.PNG" class="d-block w-100" alt="Completed Brackets" style="height: 190px;border-left-width: 10px;width: 200px;">
					</div>
					<div class="carousel-item">
						<img src="~/images/EmptyBrackets.PNG" class="d-block w-100" alt="Empty Brackets" style="height: 190px;border-left-width: 10px;width: 200px;">
					</div>
				</div>
			</div>
			<div class="card-body" style="background-color: floralwhite">
				<h5 class="card-title">Bowling Tournament</h5>
				<p class="card-text">
					This is a C# form designed to accepted text data as input and create a simulated bowling tournament with players.
					Using File Upload, data can be collected via the program which will be displayed on the form according to tournament results.
				</p>
			</div>
			<div class="card-footer" style="background-color: floralwhite; text-align:center">
				<a href="https://github.com/davidrodjen/BowlingTournamentDoubleBrackets">Github Link</a>
			</div>
		</div>
		<div class="card gradient-border" style="margin-top:5em;background-color: floralwhite">
			<img class="card-img-top img-fluid" src="/images/ParadisePlayerSnip.PNG" alt="ParadisePlayer Phone Menu" style="height: 190px;display:block;margin-left:auto;margin-right:auto;border-left-width: 10px;width: 200px;">
			<div class="card-body" style="background-color: floralwhite">
				<h5 class="card-title">ParadisePlayer</h5>
				<p class="card-text">
					This is my first Android Studio application. Design implents integrated music file player with future plans for musical library sync options.
					Android Application designed as a native and integrated multimedia player application for android devices.
					Originally coded and designed navigation cues and event handlers to navigate and load originally crafted music pieces for example connectivity
				</p>
			</div>
			<div class="card-footer" style="background-color: floralwhite;text-align:center">
				<a href="https://github.com/davidrodjen/ParadisePlayer">Github Link</a>
			</div>
		</div>
	</div>
</body>

<style>
	body {
		background-image: url(/images/pawel-czerwinski-Nho-1hXd3d4-unsplash-darker.jpg) !important;
		background-repeat: no-repeat;
		background-position: center;
	}
	.btn {
		width: 180px;
		height: 60px;
		cursor: pointer;
		background: transparent;
		border: 1px solid #91C9FF;
		outline: none;
		transition: 1s ease-in-out;
	}
	.btn:hover {
		transition: 1s ease-in-out;
		background: #1F2833;
	}
	.gradient-border {
		--border-width: 5px;
		position: relative;
		width: inherit;
		height: inherit;
		border-radius: var(--border-width);
		padding: .5em .5em .5em .5em;
	}

	.gradient-border::after {
		position: absolute;
		content: "";
		top: calc(-1 * var(--border-width));
		left: calc(-1 * var(--border-width));
		z-index: -1;
		width: calc(100% + var(--border-width) * 2);
		height: calc(100% + var(--border-width) * 2);
		background: linear-gradient( 60deg, hsl(213, 24%, 16%), hsl(210, 2%, 78%), hsl(176, 96%, 45%), hsl(177, 40%, 45%) );
		background-size: 300% 300%;
		background-position: 0 50%;
		border-radius: calc(2 * var(--border-width));
		animation: moveGradient 6s alternate infinite;
	}

	@@keyframes moveGradient {
		50% {
			background-position: 100% 50%;
		}
	}
</style>

