

<div style="float:left; margin-left:25%">
	<h1 style="margin-top:2.5em; margin-bottom:.25em;">Github</h1>
	<a class="btn btn-outline-primary" href="https://www.github.com/davidrodjen" role="button">Learn more</a>
</div>

<div style="float:right; margin-right:25%">
	<h1 style="margin-top:2.5em; margin-bottom:.25em;">LinkedIn</h1>
	<a class="btn btn-outline-primary" href="https://www.linkedin.com/in/david-rodriguez-jenkins-238511167" role="button">David's LinkedIn</a>
</div>
