
<div class="btn-group btn-group-justified; d-flex justify-content-center">
	<a class="btn btn-outline-primary" href="https://www.github.com/davidrodjen" role="button">David's Github</a>
	<a class="btn btn-outline-primary" href="https://www.linkedin.com/in/david-rodriguez-jenkins-238511167" role="button">David's LinkedIn</a>
</div>




<div class="card-group" style="width:80em;">
	<div class="card" style="margin-top:5em;">
		<img class="card-img-top" src="/images/MainMenu.png" alt="Landing Page for Food Truck">
		<div class="card-body">
			<h5 class="card-title">FoodTruck</h5>
			<p class="card-text">
				A catering food truck, that can either have orders placed for delivery, or ordered to a specific location for a higher price,
				to deliver on site immediate catering services to a group outdoors.
				Intent is for clean healthy eating, and rather than leaving the home to get food, food will come to you and your neighborhood.
				Website will display, relative location of current delivery as an alert letting current and previous clients know when they are in business nearby.
			</p>			
		</div>
		<div class="card-footer">
			<a href="https://github.com/davidrodjen/FoodTruck">Github Link</a>
		</div>
	</div>
	<div class="card" style="margin-top:5em;">
		<img class="card-img-top" src="/images/BlogITLanding.PNG" alt="BlogIT Landing Page" style="height: 285px;">
		<div class="card-body">
			<h5 class="card-title">BlogIT</h5>
			<p class="card-text">
				This project is a business template for a client to utilize their own URL and blogsite for publicity and job seeking.
				Clients will have access through Identity Management, passwords, and Two-Factor Authentication.
				They will be able to create multiple different styles of media and present them to their target audience.
			</p>
		</div>
		<div class="card-footer">
			<a href="https://github.com/CourtneyHutchin/BlogIT">Github Link</a>
		</div>
	</div>
</div>

<div class="card-group" style="width:80em;">
	<div class="card" style="margin-top:5em;">
		<img class="card-img-top" src="/images/CompletedBrackets.PNG" alt="Completed Brackets" style="height: 190px;">
		<div class="card-body">
			<h5 class="card-title">Bowling Tournament</h5>
			<p class="card-text">
				This is a C# form designed to accepted text data as input and create a simulated bowling tournament with players.
				Using File Upload, data can be collected via the program which will be displayed on the form according to tournament results.
			</p>
		</div>
		<div class="card-footer">
			<a href="https://github.com/davidrodjen/BowlingTournamentDoubleBrackets">Github Link</a>
		</div>
	</div>
	<div class="card" style="margin-top:5em;">
		<img class="card-img-top" src="/images/ParadisePlayerSnip.PNG" alt="ParadisePlayer Phone Menu" style="
			height: 190px;
			margin-left: 25%;
			border-left-width: 10px;
			width: 200px;">
		<div class="card-body">
			<h5 class="card-title">ParadisePlayer</h5>
			<p class="card-text">
				This is my first Android Studio application. Design implents integrated music file player with future plans for musical library sync options.
				Android Application designed as a native and integrated multimedia player application for android devices.
				Originally coded and designed navigation cues and event handlers to navigate and load originally crafted music pieces for example connectivity
			</p>
		</div>
		<div class="card-footer">
			<a href="https://github.com/davidrodjen/ParadisePlayer">Github Link</a>
		</div>
	</div>
</div>
