
<div class="container">
	<div style="float:left; margin-left:25%">
		<h1 style="margin-top:2.5em; margin-bottom:.25em;">Github</h1>
		<a class="btn btn-outline-primary" href="https://www.github.com/davidrodjen" role="button">Learn more</a>
	</div>

	<div style="float:right; margin-right:25%">
		<h1 style="margin-top:2.5em; margin-bottom:.25em;">LinkedIn</h1>
		<a class="btn btn-outline-primary" href="https://www.linkedin.com/in/david-rodriguez-jenkins-238511167" role="button">David's LinkedIn</a>
	</div>
</div>






<div class="img-container">
	<img src="/images/MainMenu.png" alt="FoodTruck" style="width:100%;">
	<div class="overlay">
		<h4>FoodTruck - Landing Page</h4>
		<p>Created an E-Commerce Food Truck Concept With Identity</p>
	</div>
</div>
	
	@*<div class="col-md-6 col-sm-12 col-xs-12">
		<figure>
			<img src="/images/MainMenu.png" alt="FoodTruck - Landing Page">
			<figcaption>
				<h3>FoodTruck E-Commerce - David Rodriguez-Jenkins</h3>
				<p>Created an E-Commerce Food Truck Concept With Identity</p>
				<p><strong>Tags:</strong> <br>Design, Development, Bootstrap, MVC Core Identity</p>
				<a href="https://github.com/davidrodjen/FoodTruck" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption>
		</figure>
	</div>*@