<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - DavidRodJenPortfolio</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-lux.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/navbar-fixed-left.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/docs.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-left" style="justify-content:flex-start">
			<a class="navbar-brand" style="font-size:45px !important;color:#66FCF1 !important" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav flex-grow-1">
					<li class="nav-item">
						<a class="nav-link text-dark" style="font-size:20px !important; color:#66FCF1 !important;margin-top:1em" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" style="font-size:20px !important; color:#66FCF1 !important;margin-top:1em" asp-area="" asp-controller="Resume" asp-action="Resume">Experience</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" style="font-size:20px !important; color:#66FCF1 !important;margin-top:1em" asp-area="" asp-controller="Projects" asp-action="Projects">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" style="font-size:20px !important; color:#66FCF1 !important;margin-top:5em" href="~/ResumePDF/David_RodriguezJenkinsFall2020.pdf">Resume PDF</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-primary" style="color:white;font-size:12px;margin-top:1em" href="https://www.github.com/davidrodjen" role="button">David's Github</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-primary" style="color:white;font-size:12px;margin-top:1em" href="https://www.linkedin.com/in/david-rodriguez-jenkins-238511167" role="button">David's LinkedIn</a>
					</li>
					<li style="color:#66FCF1 !important;margin-top:5em"> &copy; 2021 - DavidRodJenPortfolio -  </li>
				</ul>
			</div>
		</nav>

		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary box-shadow mb-3 flex-column" style="margin: 0 !important;background-color:#1d6571 !important;text-align:left">
			<span class="strike" style="width:70%;">    </span>
		</nav>
		@*#1d6571
		##66FCF1*@
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top-0 footer thead-light">
		<div class="container" style="align-content:center">
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>

<style>

	@@keyframes strike {
		0% {
			width: 0;
		}

		100% {
			width: 100%;
		}
	}

	.strike {
		position: relative;
		margin-bottom:-2em;
		margin-top:1em;
	}

	.strike::after {
		content: '                                                                 ';
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 7px;
		background: #C5C67C;
		animation-name: strike;
		animation-duration: 4s;
		animation-timing-function: linear;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}
	.btn {
		width: 180px;
		height: 60px;
		cursor: pointer;
		background: transparent;
		border: 1px solid #91C9FF;
		outline: none;
		transition: 1s ease-in-out;
	}

	.btn:hover {
		transition: 1s ease-in-out;
		background: #1F2833;
	}
</style>



