@model IEnumerable<DavidRodJenPortfolio.Models.Resume>

@{
	ViewData["Title"] = "Resume";
}

<div class="text-center">
	<h2>Check out the cool things I have done!</h2>
</div>


<h1 style="margin-top:1em">Education</h1>

<p>Associates of Applied Technology, Computer Programming, Cloverpark Technical College, September 2020</p>
<p>Bachelor of Arts, University of Washington	June 2013</p>

<h1 style="padding-top:1em;padding-bottom:1em">Qualifications</h1>



@foreach (Resume resume in ViewBag.ResumeBag)
{
	<div class="jumbotron">
		<h2>@Html.DisplayFor(modelItem => resume.Company)</h2>
		<p class="lead">@Html.DisplayFor(modelItem => resume.Position)</p>
		<hr class="my-4">
		<p>@Html.DisplayFor(modelItem => resume.Description)</p>
	</div>

}