@model IEnumerable<DavidRodJenPortfolio.Models.Resume>

@{
	ViewData["Title"] = "Resume";
}

<div class="text-center">
	<h2>Check out the cool things I have done!</h2>
</div>


<h1 style="margin-top:1em">Education</h1>

<p>Associates of Applied Technology, Computer Programming, Cloverpark Technical College, September 2020</p>
<p>Bachelor of Arts, University of Washington	June 2013</p>

<h1 style="padding-top:1em">Qualifications</h1>


@foreach (Resume resume in ViewBag.ResumeBag)
{
	<div class="text-center">
		<p class="lead">
			@Html.DisplayFor(modelItem => resume.Company)
		</p>
		<h1 class="display-1">
			@Html.DisplayFor(modelItem => resume.Position)
		</h1>
		<p class="lead">
			@Html.DisplayFor(modelItem => resume.Description)
		</p>
	</div>
}

<table style="width:100%">
	<tr>
		<th><b>Company</b></th>
		<th><b>Position</b></th>
		<th><b>Description</b></th>
	</tr>
	<tr>
		<td width="250px">DXC Technologies- Redmond Microsoft Campus-Seattle, WA February 2020- Present</td>
		<td style="padding-right:3em">Senior Field Technician IT/Audio Visual</td>
		<td style="padding-top: 5em">
			Self-managing time and equipment under directive of senior regional managers. Engage in remote and
			onsite IT solutions, Quick Assist and streamlined solutions via accessible assortment of technical libraries
			of documentation. Solve a variety of issues regarding VPN connections and application
			hang/crash/freeze. Perform client and contract requests by traveling abroad to perform onsite training.
			Flexibility and team leadership roles pertaining to special onsite conference support and understanding
			of technical documents. Signal flow expertise pertaining to Microsoft Conference standardization with
			both new and legacy control devices. Remote services through Crestron system programming utilizing IP
			address notation.
		</td>
	</tr>


	<tr>
		<td>Compass Group PLC- Redmond Microsoft Campus-Seattle, WA July 2015- March 2020</td>
		<td style="padding-right:3em">Audio Visual Technician/Preventative Maintenance Tier 1</td>
		<td style="padding-top: 5em">
			Self-managing time and equipment using a timely and precise method. Sets up audio equipment using
			power tools. Inspect technologies and electrical equipment to insure first time quality. Daily use of
			company inventory control programs. Manage personal equipment inventory utilizing basic coding
			applications for programming behind network services. Provides onsite technical support for the
			Microsoft Campus ensuring seamless utilization of conference and private spaces. Having a thorough
			understanding of audio and visual systems. Troubleshoot and problem solve breaks in connection and
			repair systems; use of network tools to correct connection issues. Connect and network with clients
			from both national and international sites, assist in client day-to-day functions and provide immediate
			support when necessary
		</td>
	</tr>


	<tr>
		<td>The Seattle Gym- Seattle, WA	September 2013- June 2015</td>
		<td style="padding-right:3em">Resident Videographer</td>
		<td style="padding-top: 5em">
			Conduct LiveStream Media Studio capturing real-time footage for exercise video programs.
			Manage all teams associated with Videography program.
			Assembled and fixed exercise equipment using various types of hand, power and pneumatic tools.
			Participated in complete studio remodel including replacing flooring and structural repairs.
			Supported the team by setting up video equipment using power and pneumatic tools.
			Inspected videos and used live editing software to direct, cut and assemble footage to insure 100% customer satisfaction.
		</td>
	</tr>


	<tr>
		<td>The Seattle Gym- Seattle, WA</td>
		<td style="padding-right:3em">General Manager/Billing Coordinator</td>
		<td style="padding-top: 5em">
			Led a service team of 35 employees. Worked with team members to streamline processes and improvements.
			Led monthly safety meetings, and daily stand-up meetings.
			Daily use of Microsoft Excel, Word and Outlook.
			Ran individual improvement meetings for each team member and verified each employee had appropriate certifications.
			Monitored, inspected and engaged in over 3200 billing accounts.
			Boosted team morale by recognizing individuals.
		</td>
	</tr>


</table>