@{
	ViewData["Title"] = "Home Page";
}


<style>
	body {
		background-image: url('./images/pawel-czerwinski-Nho-1hXd3d4-unsplash-darker.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		color: white;
	}

	h1 {
		animation: color-change 5s infinite;
	}

	@@keyframes color-change {
		0% {
			color: #C5C67C;
		}
		50% {
			color: #66FCF1;
		}
		100% {
			color: #C5C67C;
		}
	}
</style>


<div class="text-center" style="margin-top:15%;color: #45A29E">
	<h1 class="display-4">David A. Rodriguez-Jenkins</h1>
	@*<h1 class="display-3">Rodriguez-Jenkins</h1>*@
</div>

<div class="blockquote" style="margin-top:10%;text-align:center">
	<h1>Software Developer | Audio/Visual Tech | Artist | Gamer | Imagineer</h1>
</div>



